[user]
	name = Alec Lavoie
	email = alavoie3@gmail.com
[alias]
	ls = log --oneline
	st = status -s
	co = checkout
	br = branch
	cm = commit
	p = push
	oops = reset HEAD~1
  rmb = "!f() { git branch --merged | grep -v "master" | while read i; do git branch -d $i; done; }; f"
[push]
	followTags = true
	default = current