[user]
	name = Alec Lavoie
	email = alavoie3@gmail.com
[alias]
	ls = log --oneline
	lg = log --all --decorate --oneline --graph
	st = status -s
	co = checkout
	br = branch
	cm = commit
	p = push
	oops = reset HEAD~1
[push]
	followTags = true
	default = current
[fetch]
	prune = true
[pull]
	rebase = true
[rebase]
	autoStash = true
[core]
	editor = code --wait
[init]
	templateDir = /Users/alavoie/.git-template
[rerere]
	enabled = true
[merge]
	conflictstyle = diff3
[diff]
	algorithm = histogram
